<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <title>Home</title>
    <meta name = "Twitter Like app" content="this is a twitter like app"/>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    $.get("/user")
    .done(function(data) {
    $("#user").text(data.name);
    $(".unauthenticated").hide();
    $(".authenticated").show();
    })
    .fail(function() {
    $(".unauthenticated").show();
    $(".authenticated").hide();
    });
    });

    function logout() {
    $.post("/logout")
    .done(function() {
    $("#user").text('');
    $(".unauthenticated").show();
    $(".authenticated").hide();
    })
    .fail(function() {
    alert('Logout failed');
    });
    return false;
    }
    </script>
</head>
<body>
<h1>Twitter Like App</h1>
<div class="container unauthenticated">
    Sign in with GitHub: <a href="/oauth2/authorization/github" class="btn btn-primary">Click here!</a>
</div>
<div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
    <div>
        <button onclick="logout()" class="btn btn-primary">Logout</button>
    </div>
</div>
</body>
</html>